.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #2E4052;
}
.container h1{
    color: #FFFF;
    font-size: 40px;
}
.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    max-width: 320px;
    gap: 5px;
}
.container p{
    color: white;
}
.container nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
}