.container{
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.InfoCamp{
    display: flex;
    flex-direction: column;

    gap: 10px;
}
.container h1{
    font-size: 50px;
}
.container h2{
    font-size: 22px;
}

@media screen and (max-width : 930px) {
    .container{
        flex-direction: column-reverse;
        
    }
    .InfoCamp{
        margin: 0 20px;
    }
}
@media screen and (max-width : 520px) {
    .InfoCamp h1{
        font-size: 35px;
    }
}