.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer h1{
    width: 100%;
    font-size: 40px;
}
.btn{
    width: 100%;
    transition: 0.4s;
}
.btn:hover{
    border: 1px solid black;
}

.projects{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}
.title{
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .projects{
        grid-template-columns: auto;
        padding: 0.5rem 0;
    }
}